<?xml version="1.0"?>
<!-- 
/**
 * @category   BV
 * @package    Bazaarvoice
 */
 -->
<config>
    <modules>
        <Bazaarvoice>
            <version>0.1.0</version>
            <codePool>local</codePool>
            <depends>
            <!-- no dependencies -->
            </depends>
        </Bazaarvoice>
    </modules>
    <default>
        <bazaarvoice>
            <General>
                <FTPHost>ftp-stg.bazaarvoice.com</FTPHost>
                <Staging>/bvstaging</Staging>
                <SubmissionDisplayTypeJavascript><![CDATA[
                    var userAgent = navigator.userAgent.toLowerCase();
                    var isMobileDevice = (userAgent.search("iphone") > -1 || userAgent.search("android") > -1 || userAgent.search("blackberry") > -1);
                    return (isMobileDevice ? "mobile" : "");
                ]]></SubmissionDisplayTypeJavascript>
            </General>
            <RR>
                <EnableRR>1</EnableRR>
                <SubDomain>reviews</SubDomain>
                <DisplayCodeJavascript><![CDATA[
                    //no-op
                ]]></DisplayCodeJavascript>
                <OnEventJavascript><![CDATA[
                    if (json.eventSource == "Display") {
                        if (json.attributes.numReviews == 0) {
                            var bvRevCntr = document.getElementById("BVReviewsContainer");
                            var bvSVPLink = document.getElementById("BVRRLinkContainer");

                            if (bvRevCntr) { bvRevCntr.style.display = "none"; }
                            if (bvSVPLink) { bvSVPLink.style.display = "none"; }
                        }
                    }
                ]]></OnEventJavascript>
                <DisplayTypeJavascript><![CDATA[
                    var userAgent = navigator.userAgent.toLowerCase();
                    var isMobileDevice = (userAgent.search("iphone") > -1 || userAgent.search("android") > -1 || userAgent.search("blackberry") > -1);
                    return (isMobileDevice ? "mobile" : "");
                ]]></DisplayTypeJavascript>
            </RR>
            <AA>
                <SubDomain>answers</SubDomain>
                <DisplayCodeJavascript><![CDATA[
                    //no-op
                ]]></DisplayCodeJavascript>
                <OnEventJavascript><![CDATA[
                    if (json.eventSource == "Display") {
                        if (json.attributes.numQuestions == 0) {
                            var bvQACntr = document.getElementById("BVQAContainer");

                            if (bvQACntr) { bvQACntr.style.display = "none"; }
                        }
                    }
                ]]></OnEventJavascript>
            </AA>
            <SY>
                <SubDomain>stories</SubDomain>
                <DisplayCodeJavascript><![CDATA[
                    //no-op
                ]]></DisplayCodeJavascript>
                <OnEventJavascript><![CDATA[
                    if (json.eventSource == "Display") {
                        if (json.attributes.numStories == 0) {
                            var bvSYCntr = document.getElementById("BVSYContainer");

                            if (bvSYCntr) { bvSYCntr.style.display = "none"; }
                        }
                    }
                ]]></OnEventJavascript>
                <DisplayFormatJavascript><![CDATA[
                    return "show_grid";
                ]]></DisplayFormatJavascript>
                <SmartSEOPageFormat>storiesgrid</SmartSEOPageFormat>
            </SY>
            <CP>
                <SubDomain>ugc</SubDomain>
                <DisplayCodeJavascript><![CDATA[
                    //no-op
                ]]></DisplayCodeJavascript>
                <OnEventJavascript><![CDATA[
                    //no-op
                ]]></OnEventJavascript>
            </CP>
            <ProductFeed>
                <EnableProductFeed>1</EnableProductFeed>
                <ExportPath>import-inbox</ExportPath>
                <ExportFileName>productfeed.xml</ExportFileName>
            </ProductFeed>
            <InlineRatingFeed>
                <EnableInlineRatings>1</EnableInlineRatings>
                <FeedPath>feeds</FeedPath>
                <FeedFileName>bv_(clientname)_ratings.xml.gz</FeedFileName>
            </InlineRatingFeed>
            <SmartSEOFeed>
                <EnableSmartSEO>1</EnableSmartSEO>
                <FeedPath>feeds</FeedPath>
                <FeedFileName>bv_(clientname)_smartseo.tar.gz</FeedFileName>
                <MaxStaleDays>5</MaxStaleDays>
            </SmartSEOFeed>
            <PurchaseFeed>
                <EnablePurchaseFeed>1</EnablePurchaseFeed>
                <ExportPath>/ppe/inbox</ExportPath>
                <ExportFileName>bazaarvoice-order-data.xml</ExportFileName>
                <DelayDaysSinceEvent>1</DelayDaysSinceEvent>
                <TriggeringEvent>shipping</TriggeringEvent>
                <NumDaysLookback>30</NumDaysLookback>
            </PurchaseFeed>
        </bazaarvoice>
    </default>
    <frontend>
        <product>
            <collection>
                <attributes>
                    <bv_average_rating />
                    <bv_review_count />
                    <bv_rating_range />
                </attributes>
            </collection>
        </product>
        <routers>
            <bazaarvoice>
                <use>standard</use>
                <args>
                    <module>Bazaarvoice</module>
                    <frontName>bazaarvoice</frontName>
                </args>
            </bazaarvoice>
        </routers>
        <layout>
            <updates>
                <bazaarvoice>
                    <file>bazaarvoice.xml</file>
                </bazaarvoice>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <Bazaarvoice>
                <class>Bazaarvoice_Model</class>
            </Bazaarvoice>
        </models>
        <blocks>
            <Bazaarvoice>
                <class>Bazaarvoice_Block</class>
            </Bazaarvoice>
        </blocks>
        <helpers>
            <Bazaarvoice>
                <class>Bazaarvoice_Helper</class>
            </Bazaarvoice>
        </helpers>
        <template>
            <email>
                <bazaarvoice_notification_template module="Bazaarvoice">
                    <label>Bazaarvoice Notifications</label>
                    <file>bazaarvoice_notification.html</file>
                    <type>text</type>
                </bazaarvoice_notification_template>
            </email>
        </template>
        <resources>
            <bazaarvoice_setup>
                <setup>
                    <module>Bazaarvoice</module>
                    <class>Bazaarvoice_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bazaarvoice_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bazaarvoice>
                                            <title>Bazaarvoice</title>
                                        </bazaarvoice>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <bazaarvoice_product_feed>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr><!-- Every day at 1:00 AM -->
                </schedule>
                <run>
                    <model>Bazaarvoice/exportProductFeed::exportDailyProductFeed</model>
                </run>
            </bazaarvoice_product_feed>
            <bazaarvoice_download_inlineratings>
                <schedule>
                    <cron_expr>30 1 * * *</cron_expr><!-- Every day at 1:30 AM -->
                </schedule>
                <run>
                    <model>Bazaarvoice/retrieveInlineRatingsFeed::retrieveInlineRatingsFeed</model>
                </run>
            </bazaarvoice_download_inlineratings>
            <bazaarvoice_download_smartseo>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr><!-- Every day at 2 AM -->
                </schedule>
                <run>
                    <model>Bazaarvoice/retrieveSmartSEOPackage::retrieveSmartSEOPackage</model>
                </run>
            </bazaarvoice_download_smartseo>
            <bazaarvoice_purchase_feed>
                <schedule>
                    <cron_expr>30 2 * * 6</cron_expr><!-- Every Saturday at 2:30 AM -->
                </schedule>
                <run>
                    <model>Bazaarvoice/exportPurchaseFeed::exportPurchaseFeed</model>
                </run>
            </bazaarvoice_purchase_feed>
        </jobs>
    </crontab>
</config>