<?xml version="1.0"?>
<config>
    <sections>
        <bazaarvoice translate="label">
            <label>Bazaarvoice</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <General translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_bv>
                            <label>Enable Bazaarvoice Extension</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Enable or disable all Bazaarvoice Magento Extension Features.]]></comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_bv>
                        <client_name translate="label comment">
                            <label>Bazaarvoice Client Name</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[i.e. yourcompany]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </client_name>
                        <environment>
                            <label>Environment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>bazaarvoice/source_environment</source_model>
                            <comment><![CDATA[Select current environment.]]></comment>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </environment>
                        <deployment_zone>
                            <label>Bazaarvoice Deployment Zone</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The deployment zone for your Bazaarvoice R&amp;R and Q &amp; A implementations.  For example: "Main Site"]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </deployment_zone>
                        <locale>
                            <label>Bazaarvoice Locale Setting</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The locale for your Bazaarvoice R&amp;R and A &amp; A implementations.  For example: "en_US"]]></comment>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </locale>
                        <SubmissionURL>
                            <label>Bazaarvoice Submission URL</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The URL of the Bazaarvoice submission page.  This extension provides a submission container page, located at the "bazaarvoice" context root.  For example: http://yourdomain.com/magento/bazaarvoice]]></comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </SubmissionURL>
                        <AdminEmail>
                            <label>Bazaavoice Administrator Email</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The email address of the Bazaarvoice administrator. This is where feed notifications are sent.]]></comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </AdminEmail>
<!-- Comment this out until we use it                        
                        <EncodingKey>
                            <label>Bazaarvoice Encoding Key</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Key used to encode Bazaarvoice user authentication string.  Provided by your Implementation Engineer.]]></comment>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </EncodingKey>
-->                        
                        <FTPPassword>
                            <label>Bazaarvoice FTP Password</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Provided by your Implementation Engineer.]]></comment>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </FTPPassword>
                        <enable_product_feed>
                            <label>Enable Bazaarvoice Product Feed</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Product Feed generation. This will enable generation of a product feed to be sent to the Bazaarvoice FTP server.]]></comment>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_product_feed>
                    </fields>
                </General>
                <rr translate="label">
                    <label>Ratings and Reviews</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>110</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_rr>
                            <label>Enable Bazaarvoice R&amp;R</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Bazaarvoice Ratings &amp; Reviews. This will enable display of R&amp;R content on your product pages.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_rr>
                        <do_show_content_js>
                            <label>DoShowContent Javascript Callback</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[The Bazaarvoice doShowContent javascript callback is triggered when the "read all reviews" link in the review summary is clicked.
                                You may provide code here that you wish to execute on said click event.  For example, you may want to activate a specific tab on the page.  This
                            code will be wrapped in a javascript function(){...} block. See your Bazaarvoice Implementation manual for further information.]]></comment>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </do_show_content_js>
                        <enable_inline_ratings>
                            <label>Enable Bazaarvoice Inline Ratings</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Inline Ratings. This will enable display of ratings as inline star ratings in search results and category pages.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_inline_ratings>
                    </fields>
                </rr>
                <qa translate="label">
                    <label>Questions and Answers</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>120</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_qa>
                            <label>Enable Bazaarvoice Q&amp;A</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Bazaarvoice Q &amp; A. This will enable display of Q&amp;A content on your product and category pages.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_qa>
                        <do_show_content_js>
                            <label>Q&amp;A Show Q&amp;A in Tab</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[The Bazaarvoice doShowContent javascript callback is triggered when the "read all Q&amp;A" link in the question/answer summary is clicked.
                                You may provide code here that you wish to execute on said click event.  For example, you may want to activate a specific tab on the page.  This
                            code will be wrapped in a javascript function(){...} block. See your Bazaarvoice Implementation manual for further information.]]></comment>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </do_show_content_js>
                    </fields>
                </qa>
<!--  Temp disable as part of MGP-103         
                <InlineRatingFeed translate="label">
                    <label>Inline Ratings Feed Import</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>160</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    </fields>
                </InlineRatingFeed>
-->
                <SmartSEOFeed translate="label">
                    <label>Smart SEO Feed Import</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>170</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <EnableSmartSEO>
                            <label>Smart SEO Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Smart SEO. This will enable importing Smart SEO archives from the Bazaarvoice FTP server and present them to search engine crawlers on product pages.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </EnableSmartSEO>
                        <FeedFileName>
                            <label>Smart SEO Feed Filename</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Typically, this should be "bv_(clientname)_smartseo.tar.gz".]]></comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </FeedFileName>
                    </fields>
                </SmartSEOFeed>
                <PurchaseFeed translate="label">
                    <label>Post-Purchase Feed Export</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>180</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <EnablePurchaseFeed>
                            <label>Enable Purchase Feed</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Purchase Feed generation. This will enable generation of a purchase feed to be sent to the Bazaarvoice FTP server to be used to send post-interaction emails to your customers, in order to solicit review submission.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </EnablePurchaseFeed>
                        <TriggeringEvent>
                            <label>Triggering Event</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[This determines whether to use the purchase date or ship date when calculating which purchases to include in the purchase feed.]]></comment>
                            <source_model>bazaarvoice/source_triggeringEvent</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </TriggeringEvent>
                    </fields>
                </PurchaseFeed>
                <roibeacon translate="label">
                    <label>ROI Beacon</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>190</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_roibeacon>
                            <label>Enable ROI Beacon</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Bazaarvoice ROI Beacon. This will enable transmission of order details to Bazaarvoice on the order confirmation page.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_roibeacon>
                    </fields>
                </roibeacon>
            </groups>
        </bazaarvoice>
    </sections>
</config>
