<?xml version="1.0"?>
<config>
    <sections>
        <bazaarvoice translate="label">
            <label>Bazaarvoice</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <General translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <CustomerName translate="label comment">
                            <label>Bazaarvoice Customer Name</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[i.e. yourcompany]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </CustomerName>
                        <environment>
                            <label>Environment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>bazaarvoice/source_environment</source_model>
                            <comment><![CDATA[Select current environment.]]></comment>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </environment>
                        <FacebookXdReceiverUrl>
                            <label>Facebook Cross-Domain Channel Policy File URL</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[For example, http://www.yourdomain.com/path/to/facebook_xd_receiver.htm]]></comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </FacebookXdReceiverUrl>
                        <SubmissionURL>
                            <label>Bazaarvoice Submission URL</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The URL of the Bazaarvoice submission page.  This extension provides a submission container page, located at the "bazaarvoice" context root.  For example: http://yourdomain.com/magento/bazaarvoice]]></comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </SubmissionURL>
                        <SubmissionDisplayTypeJavascript>
                            <label>Display Type Javascript Function</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[This preference value is expected to be valid client-side javascript.  This Bazaarvoice extension
                                will wrap this javascript in a function(){...} block.  Your code must return a value of "mobile" or an empty string, "", depending
                                on whether or not you want to set the displayType for the reviews submission container to a mobile device or for a full browser client.
                                This preference exists so that you may customize which displayType is used based upon data available client-side.  See your Bazaarvoice
                            Implementation manual for further information on the displayType configuration parameter.]]></comment>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </SubmissionDisplayTypeJavascript>
                        <AdminEmail>
                            <label>Bazaavoice Administrator Email</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The email address of the Bazaarvoice administrator. This is where feed notifications are sent.]]></comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </AdminEmail>
                        <EncodingKey>
                            <label>Bazaarvoice Encoding Key</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Key used to encode Bazaarvoice user authentication string.  Provided by your Implementation Engineer.]]></comment>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </EncodingKey>
                        <FTPPassword>
                            <label>Bazaarvoice FTP Password</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Provided by your Implementation Engineer.]]></comment>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </FTPPassword>
                    </fields>
                </General>
                <RR translate="label">
                    <label>Ratings and Reviews</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>110</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <EnableRR>
                            <label>Enable Bazaarvoice R&amp;R</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Bazaarvoice Ratings &amp; Reviews. This will enable display of R&amp;R content on your product pages.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </EnableRR>
                        <DefaultDisplayCode>
                            <label>Bazaarvoice Ratings &amp; Reviews Default Display Code</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The display code for your Bazaarvoice R&amp;R implementation.  For example: 1234-en_us]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </DefaultDisplayCode>
                        <DisplayCodeJavascript>
                            <label>Display Code Javascript Function</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[This preference value is expected to be valid client-side javascript.  This Bazaarvoice extension
                                will wrap this javascript in a function(){...} block.  Your code must return a valid Bazaarvoice DisplayCode to be used for display and submission of Reviews.
                                This preference exists so that you may customize which DisplayCode is used based upon data available client-side.  Typically this is used to select
                                a locale-specific DisplayCode.  In the event of an error processing this javascript or that it returns nothing, the default display code specified
                            above will be used.]]></comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </DisplayCodeJavascript>
                        <SubDomain>
                            <label>Bazaarvoice R&amp;R Sub Domain</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The sub domain name for the Bazaarvoice Ratings and Reviews. Typically, this is just "reviews".]]></comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </SubDomain>
                        <OnEventJavascript>
                            <label>R&amp;R OnEvent Javascript Callback</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[The Bazaarvoice javascript onEvent callback enables you to track certain actions that occur with
                                Bazaarvoice UI components. For example, the event callback can be used to pass tracking information into your web analytics system or otherwise change
                                the behavior of your page depending on the information it passes back about the user-generated content available on the page. This code will be wrapped
                            in a javascript function(json){...} block.  See your Bazaarvoice Implementation manual for further information.]]></comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </OnEventJavascript>
                        <DisplayTypeJavascript>
                            <label>Display Type Javascript Function</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[This preference value is expected to be valid client-side javascript.  This Bazaarvoice extension
                                will wrap this javascript in a function(){...} block.  Your code must return a value of "mobile" or an empty string, "", depending
                                on whether or not you want to set the displayType for R&amp;R display to a mobile device or for a full browser client.
                                This preference exists so that you may customize which displayType is used based upon data available client-side.  Contact your Bazaarvoice
                            Implementation Engineer for further information on the displayType configuration parameter.]]></comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </DisplayTypeJavascript>
                        <DoShowContentJavascript>
                            <label>DoShowContent Javascript Callback</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[The Bazaarvoice doShowContent javascript callback is triggered when the "read all reviews" link in the review summary is clicked.
                                You may provide code here that you wish to execute on said click event.  For example, you may want to activate a specific tab on the page.  This
                            code will be wrapped in a javascript function(){...} block. See your Bazaarvoice Implementation manual for further information.]]></comment>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </DoShowContentJavascript>
                    </fields>
                </RR>
                <AA translate="label">
                    <label>Ask and Answer</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>120</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <EnableAA>
                            <label>Enable Bazaarvoice A&amp;A</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Bazaarvoice Ask &amp; Answer. This will enable display of A&amp;A content on your product and category pages.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </EnableAA>
                        <DefaultDisplayCode>
                            <label>Bazaarvoice Ask &amp; Answer Default Display Code</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The display code for your Bazaarvoice A&amp;A implementation.  For example: 1234-en_us]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </DefaultDisplayCode>
                        <DisplayCodeJavascript>
                            <label>Display Code Javascript Function</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[This preference value is expected to be valid client-side javascript.  This Bazaarvoice extension
                                will wrap this javascript in a function(){...} block.  Your code must return a valid Bazaarvoice DisplayCode to be used for display and submission of A&amp;A.
                                This preference exists so that you may customize which DisplayCode is used based upon data available client-side.  Typically this is used to select
                                a locale-specific DisplayCode.  In the event of an error processing this javascript or that it returns nothing, the default display code specified
                            above will be used.]]></comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </DisplayCodeJavascript>
                        <SubDomain>
                            <label>Bazaarvoice A&amp;A Sub Domain</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The sub domain name for the Bazaarvoice Ask &amp; Answer.  Typically, this is just "answers".]]></comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </SubDomain>
                        <OnEventJavascript>
                            <label>A&amp;A OnEvent Javascript Callback</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[The Bazaarvoice javascript onEvent callback enables you to track certain actions that occur with
                                Bazaarvoice UI components. For example, the event callback can be used to pass tracking information into your web analytics system or otherwise change
                                the behavior of your page depending on the information it passes back about the user-generated content available on the page. This code will be wrapped
                            in a javascript function(json){...} block.  See your Bazaarvoice Implementation manual for further information.]]></comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </OnEventJavascript>
                        <DoShowContentJavascript>
                            <label>DoShowContent Javascript Callback</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[The Bazaarvoice doShowContent javascript callback is triggered when the "read all Q&A" link in the question/answer summary is clicked.
                                You may provide code here that you wish to execute on said click event.  For example, you may want to activate a specific tab on the page.  This
                            code will be wrapped in a javascript function(){...} block. See your Bazaarvoice Implementation manual for further information.]]></comment>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </DoShowContentJavascript>
                    </fields>
                </AA>
                <CP translate="label">
                    <label>Active Profiles</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>140</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <DefaultDisplayCode>
                            <label>Bazaarvoice Active Profiles Default Display Code</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The display code for your Bazaarvoice Active Profiles implementation.  For example: 1234-en_us]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </DefaultDisplayCode>
                        <DisplayCodeJavascript>
                            <label>Display Code Javascript Function</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[This preference value is expected to be valid client-side javascript.  This Bazaarvoice extension
                                will wrap this javascript in a function(){...} block.  Your code must return a valid Bazaarvoice DisplayCode to be used for display and submission of ActiveProfiles.
                                This preference exists so that you may customize which DisplayCode is used based upon data available client-side.  Typically this is used to select
                                a locale-specific DisplayCode.  In the event of an error processing this javascript or that it returns nothing, the default display code specified
                            above will be used.]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </DisplayCodeJavascript>
                        <SubDomain>
                            <label>Bazaarvoice Active Profiles Sub Domain</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The sub domain name for the Bazaarvoice Active Profiles.  Typically, this is just "ugc".]]></comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </SubDomain>
                        <OnEventJavascript>
                            <label>Active Profiles OnEvent Javascript Callback</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[The Bazaarvoice javascript onEvent callback enables you to track certain actions that occur with
                                Bazaarvoice UI components. For example, the event callback can be used to pass tracking information into your web analytics system or otherwise change
                                the behavior of your page depending on the information it passes back about the user-generated content available on the page. This code will be wrapped
                            in a javascript function(json){...} block.  See your Bazaarvoice Implementation manual for further information.]]></comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </OnEventJavascript>
                        <RenderEditProfileLink>
                            <label>Render Edit Profile Link</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[By default, Bazaarvoice code will always render the "Edit My Profile" link on the Active Profiles display container
                                page, regardless of whether or not the current visitor is logged in or whether or not they are viewing their own profile page.  Enabling this option will render
                                a link on the container page outside of the injected code that will only be visible if the current visitor is logged in and viewing their own profile page. When
                                this option is enabled, it is advised that the "Edit My Profile" link that is injected by Bazaarvoice be disabled.  Contact your Implementation Engineer
                            to have the link removed.]]></comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </RenderEditProfileLink>
                    </fields>
                </CP>
                <ProductFeed translate="label">
                    <label>Product Feed Export</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>150</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <EnableProductFeed>
                            <label>Enable Bazaarvoice Product Feed</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Product Feed generation. This will enable generation of a product feed to be sent to the Bazaarvoice FTP server.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </EnableProductFeed>
                        <ExportPath>
                            <label>FTP Export File Path</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Typically, this should be "import-inbox".]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ExportPath>
                        <ExportFileName>
                            <label>Product Feed Export File Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ExportFileName>
                    </fields>
                </ProductFeed>
                <InlineRatingFeed translate="label">
                    <label>Inline Ratings Feed Import</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>160</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <EnableInlineRatings>
                            <label>Enable Bazaarvoice Inline Ratings</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Inline Ratings. This will enable importing ratings feeds from the Bazaarvoice FTP server and display them as inline star ratings in search results.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </EnableInlineRatings>
                        <FeedFileName>
                            <label>Inline Rating Feed Filename</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Typically, this should be "bv_(clientname)_ratings.xml.gz".]]></comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </FeedFileName>
                    </fields>
                </InlineRatingFeed>
                <SmartSEOFeed translate="label">
                    <label>Smart SEO Feed Import</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>170</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <EnableSmartSEO>
                            <label>Smart SEO Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Smart SEO. This will enable importing Smart SEO archives from the Bazaarvoice FTP server and present them to search engine crawlers on product pages.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </EnableSmartSEO>
                        <FeedFileName>
                            <label>Smart SEO Feed Filename</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Typically, this should be "bv_(clientname)_smartseo.tar.gz".]]></comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </FeedFileName>
                    </fields>
                </SmartSEOFeed>
                <PurchaseFeed translate="label">
                    <label>Post-Purchase Feed Export</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>180</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <EnablePurchaseFeed>
                            <label>Enable Purchase Feed</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Purchase Feed generation. This will enable generation of a purchase feed to be sent to the Bazaarvoice FTP server to be used to send post-interaction emails to your customers, in order to solicit review submission.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </EnablePurchaseFeed>
                        <ExportPath>
                            <label>FTP Export File Path</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Typically, this should be "/ppe/inbox".]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ExportPath>
                        <ExportFileName>
                            <label>Purchase Feed Export File Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ExportFileName>
                        <TriggeringEvent>
                            <label>Triggering Event</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[This determines whether to use the purchase date or ship date when calculating which purchases to include in the purchase feed.]]></comment>
                            <source_model>bazaarvoice/source_triggeringEvent</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </TriggeringEvent>
                        <DelayDaysSinceEvent>
                            <label>Days to wait after trigger event</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[This value represents the number of days to wait after the triggering event until including the transaction in the exported feed.]]></comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </DelayDaysSinceEvent>
                        <NumDaysLookback>
                            <label>Number of days worth of transactions in past to retrieve</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[This value represents the number of days of historical transactions to include in the feed.  This extension keeps track of which Orders have already been included in a previous purchase feed in an effort to avoid sending duplicate emails to customers for the same order.  This number should be larger than how long it typically takes to send out a shipment.]]></comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </NumDaysLookback>
                    </fields>
                </PurchaseFeed>
                <ROIBeacon translate="label">
                    <label>ROI Beacon</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>190</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <EnableROIBeacon>
                            <label>Enable ROI Beacon</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Turn on Bazaarvoice ROI Beacon. This will enable transmission of order details to Bazaarvoice on the order confirmation page.]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </EnableROIBeacon>
                    </fields>
                </ROIBeacon>
            </groups>
        </bazaarvoice>
    </sections>
</config>
